#push { padding-top: 110px

}

h1 {

	text-align: center;
	font-family: 'Lato', sans-serif;
	padding-top: 20px;

}

img.test {

	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto
}